@import '../../../css/quasar.variables.styl';


.card-capacitacion {
	background: #393c4e96;
	backdrop-filter: blur(8.5px);
	margin: 5%;
	border-radius: 21px;
}

.filtros {
	background: #393c4e96;
	backdrop-filter: blur(8.5px);
	border-radius: 21px;
	margin-top: 10px;
	padding: 20px;
}

.buscador {
	padding-top: 30px;
}

.back_info {
	backdrop-filter: blur(2px) !important;
	background: #000000cc;
}

.back_cap {
	margin-left: 11vw;
	width: 78vw;
}
.banner_cap div {
	padding-bottom: 0px !important;
	min-height: 250px !important;
	max-height: 250px !important;
}

.tabla_capacitaciones {
	padding: 0 0.3vw;
}

.tabla_capacitaciones .q-table__bottom {
	display: none;
}

.btn_aceptar {
	background: linear-gradient(to right, #f12711, #f5af19);
	padding: 0px 23px !important;
}

.card-dialog {
	background: #0a0a0ac7;
	backdrop-filter: blur(8.5px);
	border-radius: 21px;
	max-width: 50vw !important;
}

.img-capacitacion .q-img__image {
	background-size: contain;
	background-position: inherit;
}

@media only screen and (max-width: 767px) {
	.back_cap {
		margin-left: 0;
		width: 100%;
	}

	.card-dialog {
		max-width: 95vw !important;
	}
}
